<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Reset your password</h1>
	<p>
		To reset your password, follow this link: <%= password_reset_url(@user.confirm_token) %>.
	</p>
</body>
</html>