<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Reset your password</h1>
	<p>
		It's okay, it happens to all of us.
	</p>
	<p>
		Click the link to reset your password
		assistantfriday.com/#/changepassword/<%=@user.confirm_token%>
	</p>
</body>
</html>