<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.first_name %>, to F.R.I.D.A.Y.</h1>
    <p>
      To confirm your email, just click this link:
      assistantfriday.com/#/confirm_email/<%=@user.confirm_token%>
    </p>
  </body>
</html>